.tweetItemContainer {
  width: 639px;
  height: 152px;
  margin-top: 16px;
  border-bottom: 1px solid #E6ECF0;

  .tweetItemWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 24px;
    gap: 8px;
    width: 634px;
    height: 136px;

    .tweetItemInfo {
      &Wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 528px;
        height: 136px;
      }

      &User {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        height: 26px;

        &Name {
          font-weight: 700;
          font-size: 16px;
          /* identical to box height, or 162% */
          line-height: 26px;
          /* grayscale/dark-100 */
          color: #171725;
        }

        &Detail {
          height: 22px;
          font-weight: 400;
          font-size: 14px;
          /* identical to box height, or 157% */
          line-height: 22px;
          /* color/secondary */
          color: #6C757D;
        }
      }

      &ContentWrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        width: 528px;
        height: 78px;

        // Tweet 文字內容
        .tweetItemInfoContent {
          text-align: left;
          font-weight: 400;
          font-size: 16px;
          /* or 162% */
          line-height: 26px;
          /* grayscale/dark-100 */
          color: #171725;
        }
      }

      &Bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 40px;
        width: 120px;
        height: 16px;

        &Discussion {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px;
          gap: 8px;
          width: 38px;
          height: 16px;

          .tweetDiscussionNum {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 14px;
            /* identical to box height, or 100% */
            line-height: 14px;
            /* color/secondary */
            color: #6C757D;
          }
        }

        &Like {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px;
          gap: 8px;
          width: 42px;
          height: 16px;

          .tweetLikeNum {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 14px;
            /* identical to box height, or 100% */
            line-height: 14px;
            /* color/secondary */
            color: #6C757D;
          }
        }
      }
    }
  }
}