.tweetCollectionContainer {
  width: 641px;
  // 用 padding 而不用 margin，這樣 border 才不會出現空白段
  padding-top: 10px;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
}

.noBorder {
  width: 641px;
  padding-top: 10px;
  border: none;
}

.margin {
  margin: 3rem 0rem;
}
