%authError {
  background-color: var(--error);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    // 讓他依照設計稿對齊推文按鈕
    right: 80px;
    top: 146px;
    color: var(--error);
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }
}

// 左欄各項目
.leftBanner {
  &Container {
    // border: 3px solid green;
    width: 178px;
    // 符合螢幕高度，才不會高度拉太長
    height: 100vh;
    position: relative;
  }

  &Logo {
    display: flex;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  &Item {
    display: flex;
    width: 100%;
    height: 58px;
    margin-bottom: 8px;
    cursor: pointer;

    // 以下是 hover 效果
    .iconHome:hover {
      content: url("../../icons/homeActive.svg");
    }

    .iconUserInfo:hover {
      content: url("../../icons/userInfoActive.svg");
    }

    .iconSettings:hover {
      content: url("../../icons/settingsActive.svg");
    }
  }

  &Icon {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  &TweetBtn {
    width: 100%;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background: var(--brand);
    border-radius: 50px;
  }

  &TweetText {
    /* Text */
    width: 40px;
    height: 30px;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Global/09. White */
    color: #ffffff;
  }

  &Logout {
    position: absolute;
    bottom: 0px;
  }
}

.wordLengthError {
  @extend %authError;

  &::after {
    content: "字數不可超過140字";
  }
}

.emptyTweetError {
  @extend %authError;

  &::after {
    content: "內容不可空白";
  }
}