.saveButton {
  background: var(--brand);
  padding: 8px, 24px, 8px, 24px;
  width: 88px;
  height: 46px;
  color: white;
  border-radius: 50px;
}

.btnText {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
