%authError {
  background-color: var(--error);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    color: var(--error);
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
}

.topUser {
  &InfoWrapper {
    width: 100%;
    position: relative;
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
  }

  &Photo {
    position: absolute;
    top: 124px;
    left: 16px;
  }

  &EditBtn {
    position: absolute;
    // 124px + photo height 140px - btn height 40px - btn bottom margin 8px
    top: 216px;
    right: 16px;
    background-color: rgba(255, 255, 255, 0);
  }

  &WordsWrapper {
    margin-top: 78px;
    margin-left: 16px;
    text-align: left;
  }

  &Name {
    /* heading/h5 */
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    /* grayscale/dark-100 */
    color: #171725;
  }

  &Account {
    /* body/14px/regular */
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* color/secondary */
    color: #6c757d;
  }

  &Intro {
    margin-top: 6px;
    /* body/14px/regular */
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* grayscale/dark-100 */
    color: #171725;
  }

  &FollowWrapper {
    display: flex;
    margin-top: 8px;
  }

  &FollowerWrapper {
    margin-left: 20px;
  }

  &FollowCount {
    /* body/14px/regular */
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* grayscale/dark-100 */
    color: #171725;
  }

  &FollowWord {
    /* body/14px/regular */
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* color/secondary */
    color: #6c757d;
  }
}

.modalContainer {
  position: relative;
}

.modal {
  left: 0;
  transform: translateX(-4%);
  --bs-modal-width: 634px;
  border-radius: 14px;
  &Header {
    display: flex;
    height: 56px;
    border-bottom: 1px solid var(--border);
    justify-content: flex-start;
    align-items: center;
    --bs-modal-header-padding: 0;
    .modalClose {
      --bs-btn-close-opacity: 1;
      --bs-btn-close-bg: none;
      margin: 0;
      margin-left: 19.5px;
      padding: 0;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }

  &Title {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    margin-left: 36.5px;
  }

  &Body {
    position: relative;
    width: 100%;
    flex: none;
    padding: 0;
    height: 553px;
  }

  &BackgroundImage {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }

  &UserPhoto {
    filter: brightness(50%);
    cursor: pointer;
  }

  &Submit {
    margin-right: 16px;
  }
}

.nameInput {
  width: 602px;
  margin-bottom: 37px;
}

.introductionInput {
  width: 602px;
  height: 147px;
}

.iconCamera {
  position: absolute;
  top: 90px;
  right: 340px;
  cursor: pointer;
}

.iconWhiteCross {
  position: absolute;
  top: 92.5px;
  right: 286.5px;
  cursor: pointer;
}

.iconCameraUserPhoto {
  z-index: 999;
  position: absolute;
  top: 184px;
  left: 76px;
  cursor: pointer;
}

.wordLengthError {
  @extend %authError;
  &::after {
    content: "字數超出上限";
  }
}

.emptyError {
  @extend %authError;
  &::after {
    content: "內容不可空白";
  }
}
