.prevPageContainer {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 25px;
  display: flex;
  justify-content: left;
  border-right: 1px solid #E6ECF0;
  border-bottom: 1px solid #E6ECF0;
  border-left: 1px solid #E6ECF0;
}

.prevPageWrapper {
  display: flex;
  align-items: center;
}

// 按鈕
.prevPageBtn {
  background-color: #FFFFFF;
}

.prevPageWordsWrapper {
  margin-left: 16px;
  /* heading/h4 */
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  /* grayscale/dark-100 */
  color: #171725;
}