.rightBanner {
  &Container {
    width: 273px;
    height: 731px;
    margin-top: 16px;
    background: var(--grayscale-dark-20);
    border-radius: 16px;
  }

  &Title {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    /* identical to box height, or 108% */
    line-height: 26px;
    /* grayscale/dark-100 */
    color: #171725;
  }
}

.recommend {
  &CollectionContainer {
    width: 100%;
    /* 上方分隔線 */
    border-top: 1px solid #E6ECF0;
  }

  &Item {
    &Container {
      // border: 1px solid red;
      width: 100%;
      // 設計稿原高度
      height: 82px;
      // 調整後，為了讓畫面能塞下所有 topUsers
      height: 66px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;

      &Left {
        display: flex;

        // 頭像
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      // 跟隨按鈕
      .followBtn {
        // 這樣才不會跑版
        padding-right: 0px;
        background-color: rgba(255, 255, 255, 0);
      }
    }

    &Info {
      margin-left: 8px;
      // margin-right: 13px;

      &Name {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #171725;
      }

      &Account {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #92929D;
      }
    }
  }
}