%num-font-setting {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--main-font-number);
}

.card {
  width: 210px;
  height: 314px;
  border-radius: 10px;
  background-color: #f6f7f8;
  overflow: hidden;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 140px;
}

.backgroundImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.avatarContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 24px);
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
  border: solid #ffffff 4px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentContainer {
  height: 100%;
  padding-top: 32px;
}

.userName {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.account {
  font-size: 14px;
  line-height: 22px;
  color: var(--secondary);
}

.actionIcons {
  margin-top: 16px;
  display: flex;
  gap: 18px;
  justify-content: center;
  .tweetCountContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    .tweetCount {
      @extend %num-font-setting;
    }
  }
  .likeContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    .likeCount {
      @extend %num-font-setting;
    }
  }
}

.followContainer {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
  .followCount {
    font-size: 14px;
    line-height: 22px;
    color: var(--grayscale-dark-100);
  }
  .followUnit {
    font-size: 14px;
    color: var(--secondary);
  }
}
