%authError {
  background-color: var(--error);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    color: var(--error);
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
}

.loginContainer {
  margin: 69px auto 0 auto;
}

.authTitle {
  margin: 29px auto 40px;
}

.account {
  margin-bottom: 32px;
}

.accountBorderLineError {
  background-color: var(--error);
}

.invalidUserBorderLine {
  @extend %authError;
  &::after {
    content: "帳號或密碼錯誤";
  }
}

.accountNotExit {
  @extend %authError;
  &::after {
    content: "帳號不存在！";
  }
}

.password {
  margin-bottom: 40px;
}

.redirContainer {
  margin: 22px auto 0 auto;
  max-width: 356px;
  display: flex;
  justify-content: flex-end;
}

.signup,
.admin,
.dot {
  font-size: 16px;
  line-height: 24px;
  color: var(--primary);
  text-decoration: underline;
  align-self: center;
  margin-right: 12px;
}

.dot {
  text-decoration: none;
  color: black;
}
