%error-msg {
  content: "";
  position: absolute;
  left: 0;
  color: var(--error);
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

%word-length {
  content: "/10";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  color: var(--grayscale-dark-80);
  font-size: 12px;
  line-height: 20px;
}

.loginContainer {
  margin: 69px auto 0 auto;
}

.authTitle {
  margin: 29px auto 40px;
}

.account,
.name,
.email,
.password {
  margin-bottom: 32px;
}

.nameLengthError {
  &::after {
    @extend %error-msg;
    content: "字數超出上限";
  }
  &::before {
    @extend %word-length;
    content: "50/50";
  }
}

.passwordConfirm {
  margin-bottom: 40px;
}

.cancel {
  color: var(--primary);
  text-decoration: underline;
  margin-top: 22px;
}
