%authError {
  background-color: var(--error);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    color: var(--error);
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
}

.signupContainer {
  position: relative;
  margin: 69px auto 0 auto;
  .alert {
    transform: scaleX(1);
    display: block;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}

.authTitle {
  margin: 29px auto 40px;
}

.account,
.name,
.email,
.password {
  margin-bottom: 32px;
}

.nameLengthError {
  @extend %authError;
  &::after {
    content: "字數超出上限";
  }
}

.accountBorderLineError {
  @extend %authError;
  &::after {
    content: "此帳號已經存在";
  }
}

.checkPassword {
  margin-bottom: 40px;
}

.passwordUnequal {
  @extend %authError;
  &::after {
    content: "密碼和確認密碼不一致";
  }
}

.cancel {
  color: var(--primary);
  text-decoration: underline;
  margin-top: 22px;
}
