%authError {
  background-color: var(--error);
  position: absolute;
  bottom: 0;
  left: 70px;
  height: 2px;
  width: 50%;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    color: var(--error);
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
}

.tweetItemContainer {
  width: 641px;
  // height: 351px;
  // 改成以下寫法以適應推文內容高度
  height: minmax(min-content, 351px);
  border-right: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
  border-left: 1px solid #e6ecf0;
  padding: 16px 21px 16px 16px;

  .tweetItemWrapper {
    width: 100%;

    .tweetItemInfo {
      &Wrapper {
        display: flex;
        padding: 0px;
        gap: 8px;

        // 頭像
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      &User {
        padding: 0px;
        gap: 8px;
        height: 26px;

        &Name {
          font-weight: 700;
          font-size: 16px;
          /* identical to box height, or 162% */
          line-height: 26px;
          /* grayscale/dark-100 */
          color: #171725;
        }

        &Account {
          height: 22px;
          font-weight: 400;
          font-size: 14px;
          /* identical to box height, or 157% */
          line-height: 22px;
          /* color/secondary */
          color: #6c757d;
        }
      }

      // Tweet 文字內容
      &Content {
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        /* or 150% */
        /* grayscale/dark-100 */
        color: #171725;
        text-align: left;
      }

      // 時間樣式
      &TimeWrapper {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e6ecf0;
        /* body/14px/medium */
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        /* color/secondary */
        color: #6c757d;
        text-align: left;
      }

      &CountWrapper {
        display: flex;
        height: 60px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #e6ecf0;

        .tweetLikeCountWrapper {
          margin-left: 24px;
        }

        .tweetCount {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 19px;
          line-height: 23px;
          /* grayscale/dark-100 */
          color: #171725;
        }

        .tweetWord {
          font-family: "Noto Sans TC";
          font-style: normal;
          font-weight: 500;
          font-size: 19px;
          line-height: 28px;
          /* identical to box height */
          /* color/secondary */
          color: #6c757d;
        }
      }
    }

    // 裝那兩個 icon
    .tweetItemIconWrapper {
      width: 188px;
      height: 68px;
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      justify-content: space-between;

      .tweetItemIcon {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}

.modal {
  left: 0;
  transform: translateX(-4%);
  --bs-modal-width: 634px;

  &Content {
    border-radius: 40px;
  }

  &Header {
    height: 56px;
    border-bottom: 1px solid var(--border);
    justify-content: flex-start;
    --bs-modal-header-padding: 0;

    .modalClose {
      --bs-btn-close-opacity: 1;
      --bs-btn-close-bg: none;
      margin: 0;
      margin-left: 19.5px;
      padding: 0;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }

  &Title {
    height: 56px;
  }

  &Body {
    flex: none;
    min-height: 443px;
    display: flex;
    flex-direction: column;
    padding: 16px 0 16px;
    .firstModalPost {
      position: relative;
      min-height: 129px;
      &::after {
        content: "";
        position: absolute;
        left: 48px;
        top: 62px;
        bottom: 0;
        background-color: var(--grayscale-dark-60);
        width: 2px;
      }
    }
  }

  &Post {
    position: relative;
    padding: 0 24px;
    display: flex;
    flex: 0;
    align-items: flex-start;
    height: 100%;
    gap: 8px;
  }

  &TweetItemInfoWrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
    width: 528px;
  }

  &UserTweetItemInfo {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &InputContainer {
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 30px;
  }

  &Input {
    height: 26px;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--secondary);
    }
  }

  &Submit {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}

.replyModaldAvatarContainer {
  align-self: flex-start;
}

.replyAt {
  color: var(--brand);
}

.tweetItemInfo {
  &Wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 528px;
  }

  &User {
    padding: 0px;
    gap: 8px;
    height: 26px;

    &Name {
      font-weight: 700;
      font-size: 16px;
      /* identical to box height, or 162% */
      line-height: 26px;
      /* grayscale/dark-100 */
      color: #171725;
    }

    &Detail {
      height: 22px;
      font-weight: 400;
      font-size: 14px;
      /* identical to box height, or 157% */
      line-height: 22px;
      /* color/secondary */
      color: #6c757d;
    }
  }

  &ContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: flex-start;
    padding: 0px;
    width: 528px;
    height: 100%;
    // Tweet 文字內容
    .tweetItemInfoContent {
      text-align: left;
      font-weight: 400;
      font-size: 16px;
      /* or 162% */
      line-height: 26px;
      /* grayscale/dark-100 */
      color: #171725;
    }
  }

  &Bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 120px;
    height: 16px;
    cursor: pointer;

    &Discussion {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 8px;
      width: 38px;
      height: 16px;
      cursor: pointer;

      .tweetDiscussionNum {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 14px;
        /* identical to box height, or 100% */
        line-height: 14px;
        /* color/secondary */
        color: #6c757d;
      }
    }

    &Like {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 8px;
      width: 42px;
      height: 16px;

      .tweetLikeNum {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 14px;
        /* identical to box height, or 100% */
        line-height: 14px;
        /* color/secondary */
        color: #6c757d;
      }
    }
  }
}

.threadUserAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.wordLengthError {
  @extend %authError;
  &::after {
    content: "回覆推文不能超過140字";
  }
}

.emptyReplyError {
  @extend %authError;
  &::after {
    content: "推文不能為空白";
  }
}
