%authError {
  background-color: var(--error);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    color: var(--error);
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
}

.topTweetContainer {
  width: 100%;
  height: 211px;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  .overLimitedHide {
    display: none;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.homepageHeaderSec {
  height: 74px;
  width: 100%;
  border-bottom: solid var(--border) 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 23px;
}

.postingSec {
  height: 146px;
  width: 100%;
  border-bottom: solid var(--border) 10px;
  display: flex;
  flex-direction: column;
  padding: 16px 24.69px 16px 26.49px;
  cursor: pointer;
}

.posting {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 22px;
}

.placeholder {
  color: var(--secondary);
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.modal {
  margin: 0;

  &Dialog {
    --bs-modal-width: 634px;
    --bs-modal-padding: 0;
    --bs-modal-footer-gap: 0;
    --bs-modal-footer-border-width: 0;
    --bs-modal-header-padding: 0;
    --bs-modal-title-line-height: 0;
    --bs-modal-border-width: 0;
    height: 300px;
    margin: 56px auto 0;
  }

  &Content {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 14px;

    .modalSubmit {
      position: absolute;
      right: 15px;
      bottom: 15px;
    }
  }

  &Header {
    height: 56px;
    border-bottom: 1px solid var(--border);
    justify-content: flex-start;

    .btnClose {
      --bs-btn-close-opacity: 1;
      --bs-btn-close-bg: none;
      margin: 0;
      margin-left: 19.5px;
      padding: 0;
      width: 15px;
      height: 15px;
    }
  }

  &Title {
    height: 56px;
  }

  &Body {
    flex: none;
    padding: 0;
    height: 187px;
  }

  &Post {
    margin-top: 16px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &Input {
    height: 26px;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--secondary);
    }
  }
}

.wordLengthError {
  @extend %authError;
  &::after {
    content: "字數不可超過140字";
  }
}

.emptyTweetError {
  @extend %authError;
  &::after {
    content: "內容不可空白";
  }
}
